<!-- <div style="background-image: url(http://bgfons.com/upload/wood%20_texture1584.jpg)"> -->
<!-- <body STYLE="background-image: url(http://bgfons.com/upload/wood%20_texture1584.jpg)"> -->
<div class="col-sm-12">
  <!-- Not implemented on tutorial -->
  <div class="col-sm-10">
    <div style="height:300px;with:100%;">
      <div class="panel panel-default">
        <!-- Default panel contents -->

        <br><br>
        <div class="panel-heading"><%= image_tag "hooties.png", class: "hootie" %></div>

        <!-- Table -->
        <table class="table">
          <thead>
          <tr>
            <th>Hootie-Hoo suggests: Truth or Dare to break the ice?</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= user.name %></td>
              <td>
                <div class="media">
                    <%= image_tag current_user.normalimage , class: "media-object pull-left" %>
                  </div>
                <td>
                  <div class="message">

                  <%= link_to "Send Hoot!", "#", class: "btn btn-primary btn-xs start-conversation",
                              "data-sid" => current_user.id, "data-rip" => user.id %>
                  </div>
                </td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>

    </div>
  </div>
    <!-- <br>
    <div class="col-sm-6">
    <div style="height: 300px; width:200px;">
    <div style="color: #1DB0EB; font-size: 25px, font-family: verdana;">Conversations</div>
      <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <%= image_tag current_user.normalimage %>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                        <h5 class="media-heading"><%= conversation_interlocutor(conversation).name %></h5>
                        <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  </div>
                </li>

            <% end %>
          </ul>
      <% else %>
          <p>You have no conversations. Click Send Hoot with any user to create one.</p>
      <% end %>
    </div>

  </div> -->

</div>
</div>
<!-- </body> -->
