

  <div class="container-full">
    <div class="jumbotron">

      <div class="row">

          <h1 class="title">Hootie-Hoo</h1>
          <h2 class="motto">Breaking the ice one hoot at a time!</h2>
          <div class="hootie-hoot">
            <div class="col-md-4 col-md-offset-4">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>

                <div  class="form-group"><%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

                <div class="checkbox">
                  <% if devise_mapping.rememberable? -%>
                      <label>
                        <%= f.check_box :remember_me %> Remember me
                      </label>

                  <% end -%>
                </div>

                <div><%= f.submit "Sign in", class: "btn btn-primary" %>
                  <%= link_to "Facebook Sign in", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %>
                </div>
          <% end %>
          <hr>
          <%= render "devise/shared/links" %>

          </div>
    </div>
  </div>
</div>
